* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100svh;
  background: rgb(63, 94, 251);
  background: linear-gradient(145deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
  background-repeat: no-repeat;
}

.container {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

.card {
  border: none;
  width: 600px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  margin-bottom: 70px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.card-search {
  height: 50px;
  background-color: transparent;
  border-radius: 50px;
  border: 1px solid #f0f1f5;
  width: 100%;
}

input.form-control {
  outline: none;
  border: none;
  color: #fff;
  background-color: transparent;
  margin-left: 10px;
  padding: 0px;
}

input.form-control:focus {
  background-color: transparent;
  box-shadow: none;
  border-color: none;
  background: transparent;
  color: #fff;
}

input.form-control::placeholder {
  color: #ffffffcb;
}

.filter {
  display: flex;
  align-items: center;
}

.filter {
  border-right: 1px solid #ffffffcb;
  padding-right: 10px;
  margin-right: 10px;
}

select {
  background-color: transparent;
  border: none;
  color: #fff;
  margin: 10px 0px 10px 10px;
  cursor: pointer;
  outline: none;
}

select option {
  background-color: #fff;
  color: #3f3f3f;
  text-align: center;
}

select:focus {
  background-color: transparent;
  box-shadow: none;
  border-color: none;
  background: transparent;
  color: #fff;
}

#btn-add {
  background-color: transparent;
  border: none;
  margin-right: 20px;
  margin-left: 12px;
  padding: 0px;
}

ul li {
  list-style: none;
  font-size: 17px;
  position: relative;
  margin-top: 10px;
  color: #fff;
  display: flex;
  gap: 10px;
}

ul li input[type="checkbox"] {
  width: 25px;
  height: 25px;
  position: absolute;
  appearance: none;
  background-color: transparent;
  background-image: url(../img/unchecked.png);
  background-size: cover;
  cursor: pointer;
  outline: none;
}

ul li input[type="checkbox"]:checked {
  background-image: url(../img/checked.png);
  transition: ease all .5s;
}

ul li input[type="checkbox"]:checked + span {
  color: #ffffffa4;
  text-decoration: line-through;
}

ul li span {
  padding-left: 35px;
  padding-right: 30px;
}

ul li button {
  position: absolute;
  right: 0;
  top: 0;
  width: 25px;
  height: 25px;
  font-size: 22px;
  border: none;
  background: #ffffff9a;
  color: black;
  line-height: 25px;
  text-align: center;
  border-radius: 50px;
}

ul li button:hover {
  background: #dd3544;
  color: #ffffffcb;
  transition: ease all .5s;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

footer span {
  color: #ffffffcb;
}